.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:Brush Script MT;
    font-size:1.19em;
}
.card {
    padding: 5px;
    width: 30%;
    margin-top: 40px;
    margin-left: 50px;
}
h1{
    text-align: center;
}

